.close-popup-btn {
    position: absolute;
    cursor: pointer;
    top: -8px;
    z-index: 99999;
    right: -8px;
    background: #ec6ead;
    height: $close-btn-dimension;
    width: $close-btn-dimension;
    border-radius: 99px;
    box-shadow: $popup-box-shadow-popup;
    transition: all 0.3s;

    &:hover {
        background: rgba(#ec6ead, 0.9);
        transform: rotate(180deg);
    }

    &::after,
    &::before {
        position: absolute;
        width: 2px;
        display: inline-block;
        border-radius: 99px;
        content: "";
        height: calc(20px - 6px);
        background: $close-btn-color;
        top: 50%;
        left: 50%;
    }

    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}
