
.icon-facebook {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(icons,1));
  width: 16px;
  height: 16px;
  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
  }
  &::before {
    width: 8px;
    height: 20px;
    border-left: 4px solid #fff;
    border-top: 4px solid #fff;
    border-top-left-radius: 5px;
    left: 0;
    top: -2px;
  }
  &::after {
    width: 10px;
    height: 4px;
    background: #fff;
    top: 5px;
    left: -2px;
    transform: skew(-5deg);
  }
}