
.zalo {
    font-weight: 800;
    font-size: 10px;
    height: 24px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 99px;
    position: relative;
    padding-top: 2px;
    background: $default-socials-text-color;
    color: $zalo-bg-color;
    transform: scale(0.9);

    &::before {
        position: absolute;
        content: '';
        display: inline-block;
        background: $default-socials-text-color;
        height: 6px;
        width: 6px;
        bottom: 2px;
        transform: skew(-20deg);
    }
}