.accordion-item {
    box-sizing: border-box;
    box-shadow: $accordion-box-shadow;
    border-radius: 0.25rem;
    border-top: $accordion-border-active;
    overflow: hidden;
    margin-top: 12px;
    height: auto;
    & * {
        box-sizing: border-box;
        transition: all 0.3s;
    }
    &:nth-last-child(1) {
        margin-bottom: 12px;
    }
    > h4 {
        transition-delay: 0.1s;
        min-height: 42px;
        padding: 6px 20px 6px 12px;
        position: relative;
        font-size: $accordion-title-font-size !important;
        color: $accordion-text-color !important;
        font-weight: 600;
        margin: 0 !important;
        transition-property: border;
        border: none;
        cursor: pointer;
        &::after, &::before {
            position: absolute;
            transition: all 0.3s;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            content: '';
            display: inline-block;
            background-color: $accordion-text-color;
            border-radius: 4px;
        }
        &::before {
            height: 14px;
            width: 2px;
        }
        &::after {
            height: 2px;
            width: 14px;
            right: 10px;
        }
    }
    
    &-body {
        font-size: $accordion-text-font-size;
        padding: 0 0.85rem;
        height: 0;
    }
    
}

.accordion-item.active-accordion {
    height: auto;
    transition: all 0.3s ease-in;
    box-shadow: $accordion-box-shadow-active;
    > h4 {
        color: $accordion-title-color-active !important;
        border-bottom: $accordion-border-active;
        &::after {
            transform: translateY(-50%) translateX(16px);
            opacity: 0;
        }
        &::before {
            transform: translateY(-50%) rotate(90deg);
        }
    }
    .accordion-item-body {
        height: auto;
        padding: 0.85rem;
    }
}