#auto-popup-ads-benzene {
    position: $default-position;
    width: $popup-width;
    // display: flex;
    display: none;
    height: $popup-height;
    z-index: 9999;
    box-shadow: $popup-box-shadow;
    box-sizing: border-box;
    background: linear-gradient(to right, #3494e6, #ec6ead);
    border-radius: $popup-border-radius;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    .img-wrapper {
        width: 50%;
        display: flex;
        align-items: center;

        img {
            max-height: 320px;
        }
    }

    .form-wrapper {
        width: 50%;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 650px) {
    #auto-popup-ads-benzene {
        max-width: 450px;
        width: calc(100vw - 32px);

        .img-wrapper {
            display: none;
        }

        .form-wrapper {
            width: 100%;
        }
    }
}

;