#change-info__pricing-table {
    max-width: 98%;
    margin: 30px auto;
    padding: 0 20px;
    width: 100%;
    display: grid;
      /* Define Auto Row size */
    grid-auto-rows: auto;
      /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    .price-table-item {
      max-width: $pricing-item-m-width;
      height: 350px;
      border-radius: $price-item-border-radius;
          // background: #f85
      border: 1px solid #d0c6e4;
      margin-bottom: 16px;
      position: relative;
      padding: 8px 12px;
      box-sizing: border-box;
      overflow: hidden;
      transition: all 0.3s;
      &:hover {
        box-shadow: $price-item-default-boxshadow;
      }
      &::after {
        position: absolute;
        content: '';
        display: inline-block;
        height: 400px;
        width: 400px;
        top: -270px;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(to right, #fc00ff, #00dbde);
        border-radius: 999px;
      }
      &__title {
        text-align: center;
        height: 40px;
        margin-top: 16px;
        text-transform: uppercase;
        font-size: 16px;
        color: $pricing-item-title-color;
      }
      &__price {
        height: 40px;
        text-align: center;
        margin-top: 12px;
        text-transform: uppercase;
        font-size: 28px;
        color: $pricing-item-price-color;
      }
      &__details {
        margin-top: 40px;
        list-style: none;
        li {
          color: #0e0674;
          font-weight: 600;
          display: flex;
          justify-content: space-between;
          font-size: 13px;
          margin: 0;
          margin-top: 16px;
          font-weight: bold;
        }
      }
      &__button {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        height: 46px;
        width: 60%;
        border-radius: 8px;
        outline: none;
        border: none;
        font-size: 14px;
        color: $white;
        cursor: pointer;
        background: $price-item-button-bg;
        transition: all 0.3s;
        &:focus {
          outline: none;
        }
        &:hover {
          box-shadow: rgba(214, 3, 3, 0.3) 0px 0px 0px 3px;
          background-position: to left;
        }
      }
    }
  }
  @media screen and (max-width: 990px) {
    .pricing-table__item {
      margin: 0 0 20px;
    }
  }
  
  
  
  @media screen and (max-width:768px) {
    #change-info__pricing-table {
      grid-template-columns: repeat(2,1fr);
    }
  }
  
  
  
  @media screen and (max-width:600px) {
    #change-info__pricing-table {
      grid-template-columns: 1fr;
    }
  }
  
  #change-info__pricing-table {
    .price-table-item:nth-child(n+5) {
      ul {
        li {
          margin-top: 60px;
        }
      }
    }
    .price-table-item:nth-child(4) {
      ul {
        li {
          margin-top: 28px;
        }
      }
    }
    .price-table-item:nth-child(1) {
      ul {
        li {
          margin-top: 60px;
        }
      }
    }
  }